/* 全局样式 */

html,
body,
#app {
    padding: 0;
    margin: 0;
    height: 100%
}

.el-card {
    margin: 15px 0;
}

.el-table {
    margin-top: 15px
}

.el-pagination {
    margin-top: 15px
}

.el-cascader-panel {
    height: 200px;
}

.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 13px;
}

.ql-editor {
    min-height: 300px
}